@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

body {
  /*background: lightblue;*/
  font-family: "Montserrat", sans-serif;
}

#visualiseMountains {
  display: block;
  margin: 100px auto;
}
